input.sw-combo
{
	/*font-size: 10px;
	line-height: 10px;*/
	padding: 1px 0px 1px 2px;
	margin: 0px;
	border: 1px solid #C0C0C0;
	border-right: 0px;
	width: 100%;
}
input.sw-combo-active 
{
	/*font-size: 10px;
	line-height: 10px;*/
	padding: 1px 0px 1px 2px;
	margin: 0px;
	border: 1px solid #969CBB;
	border-right: 0px;
	width: 100%;
}
input.sw-combo-disabled 
{
	/*font-size: 10px;
	line-height: 10px;*/
	padding: 1px 0px 1px 2px;
	margin: 0px;
	border: 1px solid #9D9D9D;
	border-right: 0px;
	background-color: #FDFDFD;
	color: #606060;
	width: 100%;
}
input.sw-input, textarea.sw-input
{
	/*font-size: 10px;
	line-height: 10px;*/
	padding: 1px 0px 1px 2px;
	margin: 0px;
	border: 1px solid #C0C0C0;
	background-color: #FFFFFF;
}
select.sw-input
{
	padding: 0px;
	margin: 0px;
	border: 1px solid #C0C0C0;
	background-color: #FFFFFF;
}
input.sw-input-disabled 
{
	/*font-size: 10px;
	line-height: 10px;*/
	padding: 1px 0px 1px 2px;
	margin: 0px;
	border: 1px solid #9D9D9D;
	background-color: #FDFDFD;
	color: #606060;	
}
tr.sw-combo-tr td 
{
	padding: 2px;
	white-space: nowrap;
}
tr.sw-combo-tr-active td 
{
	padding: 2px;
	color: #FFFFFF;
	background: #808080;
	white-space: nowrap;	
}