html, body
{
	padding: 0px;
	margin: 0px;
	border: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: white;
}
form 
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
body, td, input 
{
	font-family:  Arial, Tahoma, Verdana, Sans-Serif;
	font-size: 8pt;
}
select.login, input.login 
{
	font-family: Verdana, Sans-Serif;
	font-size: 10px;
	width: 140px;	
}
a.login 
{
	font-size: 22pt;
	text-decoration: none;
	color: #808080;
}
a.login:hover 
{
	color: #7E9FC1;
}
table.list 
{
	border: 1px solid #C0C0C0;
}
td.odd
{
	background: #F3F3F3;
}
td.active
{
	background: #D2DFE9;
}
a.copyright 
{
	font-size: 7pt;
	font-family: Tahoma, Small Fonts, sans-serif;
	color: #D2D2D2;
	text-decoration: none;
}
a.copyright:hover 
{
	color: #808080;
}