﻿html, body, form
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
html 
{
	overflow-y: scroll;
}
body
{
	cursor: default;
}
body,td 
{
	font-family: Arial,Tahoma,sans-serif;
	font-size: 8pt;
	color: #333333;
} 
th 
{
	background: url("../images/bk.header.png") repeat-x 0% 0% #6C92BA;
	color: white;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}
a img 
{
	border: 0px;
}
a.logout 
{
	text-decoration: underline;
	color: #808080;	
}
a.logout:hover 
{
	color: black;
}
a.menu 
{
	text-decoration: none;
	color: #0078B6;
}
a.menu:hover 
{
	text-decoration: none;
	color: #F08000;	
}
a.protomsg
{
	text-decoration: none;
	color: #808080;	
}
a.protomsg:hover
{
	text-decoration: underline;
	color: #000;
}
input,select,textarea,button 
{
	font-family: Tahoma,sans-serif;
	font-size: 8pt;
}
a.mod
{
	display: block;
	color: #808080;
	text-decoration: none;
	text-align: left;
	padding: 14px 0px 14px 68px;
	background-color: #F3F3F3;
	background-position: 8px 50%;
}
a.mod:hover 
{
	display: block;	
	color: #000;
	text-decoration: none;	
	background-color: #E2E2E2;	
}
span.mod 
{
	font-size: 19pt;
	font-family: Arial, sans-serif;
	line-height: 100%;
	white-space: nowrap;
}
table.list 
{
	border: 1px solid #CDD6E3;
	width: 100%;
}
tr.category
{
	background-color: #F0F0F0;	
}
tr.category td 
{
	padding-top: 1px;
	padding-bottom: 2px;
	border-bottom: 1px solid #CDD6E3;
	font-weight: bold;
}
th.header 
{
	padding-right: 12px;
}
th.header-active 
{
	padding-right: 12px;
	background: #6C92BA;
	background: #AEC1D6;
}
th.header-asc 
{
	background: url("../images/sort.asc.png") no-repeat 100% 50% #6C92BA;
	padding-right: 12px;	
}
th.header-asc-active 
{
	background: url("../images/sort.asc.png") no-repeat 100% 50% #AEC1D6;
	padding-right: 12px;		
}
th.header-desc 
{
	background: url("../images/sort.desc.png") no-repeat 100% 50% #6C92BA;
	padding-right: 12px;	
}
th.header-desc-active 
{
	background: url("../images/sort.desc.png") no-repeat 100% 50% #AEC1D6;
	padding-right: 12px;		
}
tr.even 
{
	background-color: #CDD6E3;
}
tr.even-active 
{
	background-color: #EDEFF3;
}
tr.even-active td 
{
	color: #668EB7;
}
tr.odd, td.odd
{
	background-color: #E5E7ED;
}
tr.odd-active 
{
	background-color: #EDEFF3;
}
tr.odd-active td 
{
	color: #668EB7;
}
tr.footer 
{
	background: url("../images/bk.footer.png") repeat-y 0% 0% #DADADA;
}
tr.footer table 
{	
	width: 100%;
}
tr.info 
{
	background-color: #EAEDEF;
}
tr.info td 
{
	height: 120px;
	text-align: center;
}
a.page 
{
	color: gray;
}
div.tabSelected 
{
	border-top: 4px solid #849CBD;
	white-space: nowrap;
	padding: 2px 2px 0px 2px;                
}
div.tab 
{
	padding-top: 4px;
}
a.tab 
{
	display: block;
	border-top: 4px solid #B9B9B9;
	background: #F6F6F6;
	color: #808080;
	text-decoration: none;
	white-space: nowrap;
	padding: 0px 6px 0px 6px;
}
a.tab:hover 
{
	color: Black;
}
tr.progress td 
{
	font-size: 7pt;
	font-family: Arial,Small Fonts, sans-serif;
}
tr.progress b 
{
	text-transform: uppercase;
}
tr.progress-ln 
{
	background: url("../images/progress.M.png") repeat-x 0% 50%;
}
tr.rs 
{
	background: #FFF0A0;
}
tr.rs td.left 
{
	background: url("../images/icon.rarr.png") no-repeat 50% 50% #FFF0A0;
}
tr.rs-active 
{
	background: #FFF0A0;	
}
tr.rs-active td.left 
{
	background: url("../images/icon.rarr.png") no-repeat 50% 50% #FFF0A0;	
}
tr.infotext
{
	background: #FFF0C0;
}
tr.infotext td 
{
	border: 1px dashed #E0E0E0;
}
table.panel 
{
	width: 300px;
}
tr.panel-header td
{
	background: url("../images/bk.header.png") repeat-x 0% 0% #6C92BA;	
	font-family: Segoe UI, Arial;
	font-size: 12pt;
	color: #fff;
}
tr.panel-row 
{
	background-color: #F3F3F3;
}
div.panel-separator 
{
	background: url("../images/bk.panels.png") repeat-x 0% 0% #B8B8B8;
	background-color: #B8B8B8;
	font-family: Segoe UI, Arial;
	font-size: 12pt;
	color: #fff;	
	padding: 3px 6px 1px 6px;
}
tr.invoice-total td
{
	font-family: Arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

td.ymenu
{
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	background-color: #F3F3F3;
}
button.main, input.main 
{
	padding: 2px;
	margin: 0px;
}
button.main img 
{
	vertical-align: text-bottom;
}